{% load static %}
<div class="container">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                    <h5 class="text-white op-7 mb-2">Admin Dashboard</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a class="btn btn-secondary btn-round" href="https://www.wexdifinserv.com/" >Home</a>
                    <a class="btn btn-secondary btn-round" href="https://www.wexdifinserv.com/trading_community">Trading Community</a>
                    <a class="btn btn-secondary btn-round" href="whatsapp://send?text=chit-enquire!&phone=+916302957399" id='button'>Chit Enquiry</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-6">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Overall statistics</div>
                        <div class="card-category">Daily information about statistics in system</div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-1"></div>
                                <h6 class="fw-bold mt-3 mb-0"><a href="/admin/auth/user/">Users</a></h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-2"></div>
                                <h6 class="fw-bold mt-3 mb-0"><a href="admin/chit/chitdetails/">Chits</a></h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-3"></div>
                                <h6 class="fw-bold mt-3 mb-0"><a href="admin/social_django/usersocialauth/">Subscribers</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title"><a href="admin/home/incomeexpenses/">Total Income & Expense statistics</a></div>
                        <div class="row py-3">
                            <div class="col-md-4 d-flex flex-column justify-content-around">
                                <div>
                                    <h6 class="fw-bold text-uppercase text-success op-8">Total Income</h6>
                                    <h3 class="fw-bold">Rs.{{income}}/-</h3>
                                </div>
                                <div>
                                    <h6 class="fw-bold text-uppercase text-danger op-8">Total Expense</h6>
                                    <h3 class="fw-bold">Rs.{{expense}}/-</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div id="chart-container">
                                    <canvas id="doughnutChart" style="width: 500%; height: 500%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-card-no-pd">
            <div class="col-md-12">
                {% include 'home/indexallchitplan.html' %}
            </div>
        </div>
        	<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Lottery Rules - {{lspin_obj.title|title}}</div>
								</div>
								<div class="card-body">
									<ol class="activity-feed">
										<li class="feed-item feed-item-secondary">
											<time class="date" datetime="9-25">Rule-1</time>
											<span class="text">
											   Those who want to participate may want to inform their agent or concern person to keep their name in the loop.
											    </span>
										</li>
										<li class="feed-item feed-item-success">
											<time class="date" datetime="9-24">Rule-2</time>
											<span class="text">The admin will only spin the spinner and the selected one will be the final one.</span>
										</li>
										<li class="feed-item feed-item-info">
											<time class="date" datetime="9-23">Rule-3</time>
											<span class="text">The spin is restricted to 8 people only.</span>
										</li>
										<li class="feed-item feed-item-warning">
											<time class="date" datetime="9-21">Rule-4</time>
											<span class="text">You'll get the link to join the meeting from the admin while spinning. You can use that link to join the meeting.</span>
										</li>
										<li class="feed-item feed-item-danger">
											<time class="date" datetime="9-18">Rule-5</time>
											<span class="text">We expect you to be punctual and avoid re-spins, and we won't encourage these actions.</span>
										</li>
										<li class="feed-item feed-item-danger">
											<time class="date" datetime="9-18">Rule-6</time>
											<span class="text">Recording will be provided if needed by the meeting.</span>
										</li>

									</ol>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">Lottery Spinner - {{lspin_obj.title|title}}</div>

									</div>
								</div>
								<div class="card-body">

                <script>
                    var spinCount = 0;

                    function myfunction() {
                    if (spinCount > 3) {

                        swal({
                title: "No more spin's available",
                text: "Refresh the page",
                icon: "warning",
                button: "Ok",
                });

                    return false;
                    }
                    var x = 1024; //min value
                    var y = 9999; // max value

                    var deg = Math.floor(Math.random() * (x - y)) + y;

                    document.getElementById('box').style.transform = "rotate(" + deg + "deg)";

                    var element = document.getElementById('mainbox');
                    element.classList.remove('animate');

                    setTimeout(function() {
                    element.classList.add('animate');
                    }, 5000); //5000 = 5 second
                    spinCount++;
                    }
                </script>
                <div id="mainbox" class="mainbox">
                    <div id="box" class="box">
                        <div class="box1">
                            <span class="span1"><b>{{lspin_obj.option1}}</b></span>
                            <span class="span2"><b>{{lspin_obj.option2}}</b></span>
                            <span class="span3"><b>{{lspin_obj.option3}}</b></span>
                            <span class="span4"><b>{{lspin_obj.option4}}</b></span>
                        </div>
                        <div class="box2">
                            <span class="span1"><b>{{lspin_obj.option5}}</b></span>
                            <span class="span2"><b>{{lspin_obj.option6}}</b></span>
                            <span class="span3"><b>{{lspin_obj.option7}}</b></span>
                            <span class="span4"><b>{{lspin_obj.option8}}</b></span>
                        </div>
                    </div>
                    <button class="spin" onclick="myfunction()">SPIN</button>

                </div>


                <style>
                    * {
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    outline: none;
                    }
                    .mainbox {
                    position: relative;
                    width: 500px;
                    height: 500px;
                    }
                    .mainbox:after {
                    position: absolute;
                    content: '';
                    width: 32px;
                    height: 32px;
                    background: url('{%static "red-arrow-png-picture.png" %}') no-repeat;
                    background-size: 32px;
                    right: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    }
                    .box {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    border-radius: 50%;
                    border: 10px solid #fff;
                    overflow: hidden;
                    transition: all ease 5s;
                    }
                    span {
                    width: 50%;
                    height: 50%;
                    display: inline-block;
                    position: absolute;
                    }
                    .span1 {
                    clip-path: polygon(0 92%, 100% 50%, 0 8%);
                    background-color: #fffb00;
                    top: 120px;
                    left: 0;
                    }
                    .span2 {
                    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
                    background-color: #ff4fa1;
                    top: 120px;
                    right: 0;
                    }
                    .span3 {
                    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
                    background-color: #ffaa00;
                    bottom: 0;
                    left: 120px;
                    }
                    .span4 {
                    clip-path: polygon(50% 100%, 92% 0, 8% 0);
                    background-color: #22ff00;
                    top: 0;
                    left: 120px;
                    }
                    .box1 .span3 b {
                    transform: translate(-50%, -50%) rotate(-270deg);
                    }
                    .box1 .span1 b,
                    .box2 .span1 b {
                    transform: translate(-50%, -50%) rotate(185deg);
                    }
                    .box2 .span3 b {
                    transform: translate(-50%, -50%) rotate(90deg);
                    }
                    .box1 .span4 b,
                    .box2 .span4 b {
                    transform: translate(-50%, -50%) rotate(-85deg);
                    }
                    .box2 {
                    width: 100%;
                    height: 100%;
                    transform: rotate(-135deg);
                    }
                    span b {
                    font-size: 24px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    }
                    .spin {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    border: 4px solid #fff;
                    background-color: #001aff;
                    color: #fff;
                    box-shadow: 0 5px 20px #000;
                    font-weight: bold;
                    font-size: 22px;
                    cursor: pointer;
                    }
                    .spin:active {
                    width: 70px;
                    height: 70px;
                    font-size: 20px;
                    }
                    .mainbox.animate:after {
                    animation: animateArrow 0.7s ease infinite;
                    }
                    @keyframes animateArrow {
                    50% {
                    right: -40px;
                    }
                    }
                </style>
                <hr>
                <font color=Blue>List of Name</font>: <br>
                {{lspin_obj.option1}},

  {{lspin_obj.option2}},
  {{lspin_obj.option3}},
  {{lspin_obj.option4}},
  {{lspin_obj.option5}},
  {{lspin_obj.option6}},
  {{lspin_obj.option7}},
  {{lspin_obj.option8}}

								</div>
							</div>
						</div>
					</div>


					<div class="row">



						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Customer Chit Payment List</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">

										<table id="multi-filter-select" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>chit_details</th>
													<th>customer_details</th>
													<th>chit_month/chit_year</th>
													<th>payment_status</th>
													<th>payment_date</th>

												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>chit_details</th>
													<th>customer_details</th>
													<th>chit_month/chit_year</th>
													<th>payment_status</th>
													<th>payment_date</th>

												</tr>
											</tfoot>
											<tbody>
											    {% for ccpd_obj in ccpd_obj %}
												<tr>

													<th>{{ccpd_obj.chit_details}}</th>
													<th>{{ccpd_obj.customer_details}}</th>
													<th>{{ccpd_obj.chit_month}}/{{ccpd_obj.chit_year}}</th>
													<th>{{ccpd_obj.payment_status}}</th>
													<th>{{ccpd_obj.payment_date}}</th>


												</tr>
												{% endfor %}

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

	<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Pending Payment Notification </h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">

										<table id="multi-filter-selectnotify" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>user_of_chit</th>

														<th>Not Paid month/year</th>

													<th>chit_details</th>

												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>user_of_chit</th>

														<th>Not Paid month/year</th>

													<th>chit_details</th>


												</tr>
											</tfoot>
											<tbody>
											    {% for ccpd_obj in cpn_obj %}
												<tr>

													<th>{{ccpd_obj.user_of_chit}}</th>

													<th>{{ccpd_obj.chit_month}}/{{ccpd_obj.chit_year}}</th>

													<th>{{ccpd_obj.chit_details}}</th>


												</tr>
												{% endfor %}

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>


           </div>
</div>
<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});
			$('#notify-datatables').DataTable({
			});


	$('#multi-filter-selectnotify').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});


			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>