{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Chit Statement Details</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables_statemnt" class="display table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <th>  Chit #</th>
                                        <th>   Username</th>
                                        <th>  Chit Month</th>
                                        <th>   Chit Year</th>
                                        <th>  Payment Status</th>
                                        <th>  Amount Paid</th>
                                        <th>   Payment Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sup in statement_user_payment %}
                                    <tr>
                                        <th>  {{sup.chit_details}}</th>
                                        <th>    {{sup.customer_details}}</th>
                                        <th>   {{sup.chit_month}}</th>
                                        <th>    {{sup.chit_year}}</th>
                                        <th>   {{sup.payment_status}}</th>
                                        <th>   {{sup.amount_paid}}</th>
                                        <th>    {{sup.payment_date}}</th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script type="text/javascript">
    $('#basic-datatables_statemnt').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'csv', 'excel', 'pdf','print'
        ]
    });
</script>
{% endblock %}