<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="#">
									About Us
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Contact Us
								</a>
							</li>
								<li class="nav-item">
								<a class="nav-link" href="/trading_community">
									Trading Community
								</a>
							</li>


						</ul>
					</nav>
					<div class="copyright ml-auto">
						2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="http://www.Wexdi.com">Wexdi Dev Team</a>
					</div>
				</div>
			</footer>