{% extends "home/base.html" %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#button").click(function(){
            swal({
                title: "Contact Details",
                text: "Call:+91-6302957399",
                icon: "success",
                button: "Ping us on whatsapp.....",
                });
        });
    });
</script>
<div class="container">
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Home</h2>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <a class="btn btn-secondary btn-round" href="whatsapp://send?text=chit-enquire!&phone=+916302957399" id='button'>Enquiry</a>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
        <div class="row row-card-no-pd">
              <div class="col-md-15">
                   <div class="card">
                       <div class="card-header">
                            <div class="card-head-row card-tools-still-right">
                                <h4 class="card-title">Chit Plans Details</h4>
                                <div class="card-tools">
                                    <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
                                    <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
                                    <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="table-responsive table-hover table-sales">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Chit#</th>
                                                    <th>Total Amount</th>
                                                    <th>Winner Amount</th>
                                                    <th>Normal Amount</th>
                                                    <th>Months</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in chit_det_obj_all %}
                                                <tr>
                                                    <td>
                                                        <font color=blue>{{i.chit_name}}</font>
                                                    </td>
                                                    <td>
                                                        Rs. {{i.chit_total_amt}}/-
                                                    </td>
                                                    <td>
                                                        Rs. {{i.chit_taken_amt}}/-
                                                    </td>
                                                    <td>
                                                        Rs. {{i.chit_nottaken_amt}}/-
                                                    </td>
                                                    <td>
                                                        {{i.chit_total_month_count}}
                                                    </td>
                                                    <td>{% for k,v in chit_count_dict.items %}
                                                        {% if k == i.id %}
                                                        {% if v <= 5 %}
                                                        <font color=green>Slots Available</font>
                                                        {% elif v < cdo.chit_month %}
                                                        <font color=orange>Slots Fast filling</font>
                                                        {% elif cdo.chit_month == cdo.chit_month %}
                                                        <font color=red>Slots Full / Started</font>
                                                        {% else %}
                                                        <font color=blue>Not Started</font>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        </td
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                   </div>
              </div>
        </div>




    <div class="row mt--2">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Swing Trading Stocks</div>
                    <div class="card-category">Daily information about stocks for swing trading</div>
                    <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                        {% for so in swing_obj_all %}
                        <img src="media/{{so.upload}}" style="width:40px"><br>
                        {{so.stock_name}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Upcoming Dividened Stocks</div>
                    <div class="card-category">Recommended High Yeild stocks for dividened trading</div>
                    <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                        {% for so in div_obj_all %}
                        <img src="media/{{so.upload_pic}}" style="width:80px"><br>
                        {{so.stock_name}}<br>(Ex-Date: {{so.ex_date}})
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-header">
                    <div class="card-title">Blog Activity</div>
                </div>
                <div class="card-body">
                    <ol class="activity-feed">
                        <li class="feed-item feed-item-secondary">
                            <time class="date" datetime="9-25">Sep 25</time>
                            <span class="text">Responded to need <a href="#">"Volunteer opportunity"</a></span>
                        </li>
                        <li class="feed-item feed-item-success">
                            <time class="date" datetime="9-24">Sep 24</time>
                            <span class="text">Added an interest <a href="#">"Volunteer Activities"</a></span>
                        </li>
                        <li class="feed-item feed-item-info">
                            <time class="date" datetime="9-23">Sep 23</time>
                            <span class="text">Joined the group <a href="single-group.php">"Boardsmanship Forum"</a></span>
                        </li>
                        <li class="feed-item feed-item-warning">
                            <time class="date" datetime="9-21">Sep 21</time>
                            <span class="text">Responded to need <a href="#">"In-Kind Opportunity"</a></span>
                        </li>
                        <li class="feed-item feed-item-danger">
                            <time class="date" datetime="9-18">Sep 18</time>
                            <span class="text">Created need <a href="#">"Volunteer Opportunity"</a></span>
                        </li>
                        <li class="feed-item">
                            <time class="date" datetime="9-17">Sep 17</time>
                            <span class="text">Attending the event <a href="single-event.php">"Some New Event"</a></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Latest News</div>
                        <div class="card-tools">
                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Month</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar avatar-online">
                            <span class="avatar-title rounded-circle border border-white bg-info">J</span>
                        </div>
                        <div class="flex-1 ml-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span class="text-warning pl-3">pending</span></h6>
                            <span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
                        </div>
                        <div class="float-right pt-1">
                            <small class="text-muted">8:40 PM</small>
                        </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="d-flex">
                        <div class="avatar avatar-offline">
                            <span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
                        </div>
                        <div class="flex-1 ml-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span class="text-success pl-3">open</span></h6>
                            <span class="text-muted">I have some query regarding the license issue.</span>
                        </div>
                        <div class="float-right pt-1">
                            <small class="text-muted">1 Day Ago</small>
                        </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="d-flex">
                        <div class="avatar avatar-away">
                            <span class="avatar-title rounded-circle border border-white bg-danger">L</span>
                        </div>
                        <div class="flex-1 ml-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span class="text-muted pl-3">closed</span></h6>
                            <span class="text-muted">Is there any update plan for RTL version near future?</span>
                        </div>
                        <div class="float-right pt-1">
                            <small class="text-muted">2 Days Ago</small>
                        </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="d-flex">
                        <div class="avatar avatar-offline">
                            <span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
                        </div>
                        <div class="flex-1 ml-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">Peter Parker <span class="text-success pl-3">open</span></h6>
                            <span class="text-muted">I have some query regarding the license issue.</span>
                        </div>
                        <div class="float-right pt-1">
                            <small class="text-muted">2 Day Ago</small>
                        </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="d-flex">
                        <div class="avatar avatar-away">
                            <span class="avatar-title rounded-circle border border-white bg-danger">L</span>
                        </div>
                        <div class="flex-1 ml-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">Logan Paul <span class="text-muted pl-3">closed</span></h6>
                            <span class="text-muted">Is there any update plan for RTL version near future?</span>
                        </div>
                        <div class="float-right pt-1">
                            <small class="text-muted">2 Days Ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}