			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

				<div class="container-fluid">
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>


						<li class="nav-item dropdown hidden-caret">
						    {% if user.is_authenticated %}

							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<div class="avatar-sm">
									<img src="https://via.placeholder.com/50" alt="..." class="avatar-img rounded-circle">
								</div>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<div class="dropdown-user-scroll scrollbar-outer">

									<li>
                                        {% if request.user.is_superuser %}
 <a class="dropdown-item" href="/admin">Admin </a>
{% endif %}
                                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
										<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
									</li>
								</div>
							</ul>

							{% else %}
<a href="https://www.wexdifinserv.com/my-login" class="btn btn-white btn-border btn-round mr-2">Login

</a>    {% endif %}
						</li>
					</ul>
				</div>
			</nav>
