{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">P2P Lending</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">

        	<div class="row">
						<div class="col-md-12">
							<div class="card">

								<div class="card-body">


							<img src="{% static 'invest-into-p2p-lending1.png' %}" alt="navbar brand" style="width:100%;" class="navbar-brand">

<br>

								</div>
							</div>
						</div>
			</div>
        <div class="row mt--2">
						<div class="col-md-6">
							<div class="card full-height">
								<div class="card-body">
									<div class="card-title">Credit Loan Apply Form</div>

							<form action="" method="post">
							    {% csrf_token %}
							    {% for f in form %}
							    {{f.label}}<br>{{f}}<br><br>
							    {% endfor %}

							    <input type=submit>
							</form>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card full-height">
								<div class="card-body">
									<div class="card-title">Rules & Regulations</div>
									<div class="row py-6">
										<div class="col-12">

											<ul>
											    <li>
											        Only Chit holder can avail this services
											    </li>
											     <li>
											        if you win the chit then you are not eligible for this service
											    </li>
											     <li>
											        if you taken this credit service and if you win the chit then the balance amount will be deduct from the chit while giving the chit amount
											    </li>


											</ul>


										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

	<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Your Credit Loans</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="basic-datatables_p2p" class="display table table-striped table-hover" >
											<thead>
												<tr>

<th>Loan Number</th><th>

  Loan Amount</th><th>
  EMI</th><th>
  Months</th><th>

  Loan Status</th><th>
 Loan Stage </th>


													</tr>
											</thead>

											<tbody>
										{% for po in p2p_obj %}
											<tr>
											 <td>    P2PLC{{po.id}}</td><td>





  {{po.eligibility_amount}}</td><td>
  {{po.emi_amount}}</td><td>
  {{po.no_of_months}}</td><td>

  {{po.loan_status}}</td><td>
  {{po.credit_status}} </td>
    </tr>
    {% endfor %}

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Credit Loan Calculation </h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="basic-datatables_p2p" class="display table table-striped table-hover" >
											<thead>
												<tr>
												   <th>Chit Amount</th><th>Eligibility Amount</th><th>EMI</th><th>Months</th><th>Processing Charges</th><th>Disburment Amount</th>

												</tr>
											</thead>

											<tbody>
											<tr>
        <td>Rs.25,000/-</td><td>Rs.7,500/-</td><td>Rs.2,650/-</td><td>3</td><td>Rs.500/-</td><td>Rs.7,000/-</td></tr><tr>
        <td>Rs.50,000/-</td><td>Rs.15,000/-</td><td>Rs.5,300/-</td><td>3</td><td>Rs.500/-</td><td>Rs.14,500/-</td></tr><tr>
        <td>Rs.1,00,000/-</td><td>Rs.30,000/-</td><td>Rs.10,600/-</td><td>3</td><td>Rs.500/-</td><td>Rs.29,500/-</td></tr><tr>
        <td>Rs.2,00,000/-</td><td>Rs.60,000/-</td><td>Rs.21,200/-</td><td>3</td><td>Rs.500/-</td><td>Rs.59,500/-</td>

    </tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>



    </div>
</div>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script type="text/javascript">
    $('#basic-datatables_p2p').DataTable({


    });
</script>
{% endblock %}