
{% extends "home/base.html" %}
{% load static %}
{% block content %}
			<div class="container">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Profile Page</h2>
							</div>

						</div>
					</div>
				</div>
				<div class="page-inner mt--5">

					<div class="row row-card-no-pd">
						<div class="col-md-12">



<a href="/kyc">KYC</a><br>


<a href="/change_password">change password</a>




						</div>
					</div>


				</div>
			</div>




{% endblock %}

