
{% extends "home/base.html" %}
{% load static %}
{% block content %}
			<div class="container">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Repayment Details</h2>
							</div>

						</div>
					</div>
				</div>
				<div class="page-inner mt--5">

					<div class="row row-card-no-pd">
						<div class="col-md-12">


<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style="width: 600px; display: table-cell;">
        <h3 style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);" class="pb-3">Bank Details </h3>

 <p class="small-title pb-2" style="border-bottom: 1px solid rgba(193, 44, 49, 0.1);"><b>Company Name</b> - WEXDI</p>
                                                                    <p class="small-title pb-2" style="border-bottom: 1px solid rgba(193, 44, 49, 0.1);"><b>Bank Name</b> -	ICICI Bank</p>
                                                                    <p class="small-title pb-2" style="border-bottom: 1px solid rgba(193, 44, 49, 0.1);"><b>Account Number</b> -	059605002502</p>
                                                                    <p class="small-title pb-2" style="border-bottom: 1px solid rgba(193, 44, 49, 0.1);"><b>IFSC Code</b> -	ICIC0000596 <br>
                                                                    <i><font color=blue>Note:for RTGS, IMPS and NEFT transactions)</font></i></p>
                                                                    <p class="small-title pb-2" style="border-bottom: 1px solid rgba(193, 44, 49, 0.1);"><b>Branch Name</b> -	Malakpet</p>
                                                                    <p class="small-title pb-2" style="border-bottom: 1px solid rgba(193, 44, 49, 0.1);"><b>Account Type</b> -	CURRENT</p>
<b><u>Hints</u>:</b>
            <ul>
                <li>Open the UPI payment app and select bank transfer</li>
                <li>Fill the details which is mention above and pay the amount</li>
                <li>Once you done the payment send the details to you concern person/agent for payment confirmation </li>

            </ul>

        </div>
        <div style="display: table-cell;">

        <h3 style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);" class="pb-3">Scan and Pay Your Amount </h3>
                                                                  <p class=" pt-3"><img src="{% static '/company/Capture.JPG' %}" width="60%">


                                                                  </p>

<br>

            <b><u>Hints</u>:</b>
            <ul>
                <li>Open the UPI payment app and scan the code and pay the amount</li>
                <li>Once you done the payment send the details to you concern person/agent for payment confirmation </li>

            </ul>

<br>




                                                                  </div>
    </div>
</div>








						</div>
					</div>


				</div>
			</div>




{% endblock %}

