{% extends "home/base.html" %}
{% load static %}
{% block content %}


<div class="container">

    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <h2 class="text-white pb-2 fw-bold">Repayment Details</h2>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <h3 style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);" class="pb-3">Scan and Pay Your Amount</h3>
                <p class=" pt-3"><img src="{% static '/company/IMG_20240705_011531.jpg' %}" style="width:30%;"></p><br>

                <b><u>Hints</u></b>:
                <ul>
                    <li>Open the UPI payment app and scan the code and pay the amount</li>
                    <li>Once you done the payment send the details to you concern person/agent for payment confirmation </li>
                </ul>
            </div>
        </div>
    </div>

</div>


{% endblock %}