{% extends "home/base.html" %}
{% block content %}
{% load static %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<div class="container">
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <h4 class="page-title text-white">upcoming_dividends </h4>


            <div class="ml-md-auto py-2 py-md-0">

                                              <a class="btn btn-secondary btn-round" href="https://www.wexdifinserv.com/dashboard" >Dashboard</a>


            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){

    $(".mob--only").remove();
$(".event-table-data-title").remove();
$('.event-table-desc').remove();



});
</script>

	<div class="page-inner mt--5"><br><br>



<div class="row row-card-no-pd">

    <div class="col-md-12">

        <div class="card-header">
					<h4 class="card-title">Dividend List</h4>
		</div>
		<div class="card">

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<table id="myTable" class="display">
    <thead>
        <tr><th>
 Company Name</th><th>

Announcement Date</th><th>

Type</th><th>

Ex-Date</th><th>

Record Date</th><th>

DPS</th><th>

Div % </th><th>Current Price</th><th>Action</th></tr>
    </thead>
    <tbody>
       {% for uc in up_coming %}

<tr>
 <td>{{uc.company_name}}</td><td>
    {{uc.announcement_date}}</td><td>
    {{uc.divd_type}}</td><td>
    {{uc.ex_date}}</td><td>
    {{uc.record_date}}</td><td>
    {{uc.dps}}</td><td>
    {{uc.div_percentage }}</td>
    <td></td><td></td>
</tr>
{% endfor %}
    </tbody>
</table>




		    </div>


</div>
</div>


</div>




	<!--   Core JS Files   -->
	<script src="{% static '/assets/js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static '/assets/js/core/popper.min.js' %}"></script>
	<script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>

	<!-- jQuery UI -->
	<script src="{% static '/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static '/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>

	<!-- jQuery Scrollbar -->
	<script src="{% static '/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

	<!-- Moment JS -->
	<script src="{% static '/assets/js/plugin/moment/moment.min.js' %}"></script>

	<!-- Chart JS -->
	<script src="{% static '/assets/js/plugin/chart.js/chart.min.js' %}"></script>

	<!-- jQuery Sparkline -->
	<script src="{% static '/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

	<!-- Chart Circle -->
	<script src="{% static '/assets/js/plugin/chart-circle/circles.min.js' %}"></script>

	<!-- Datatables -->
	<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>

	<!-- Bootstrap Notify -->
	<script src="{% static '/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

	<!-- Bootstrap Toggle -->
	<script src="{% static '/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>

	<!-- jQuery Vector Maps -->
	<script src="{% static '/assets/js/plugin/jqvmap/jquery.vmap.min.js' %}"></script>
	<script src="{% static '/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js' %}"></script>

	<!-- Google Maps Plugin -->
	<script src="{% static '/assets/js/plugin/gmaps/gmaps.js' %}"></script>

	<!-- Dropzone -->
	<script src="{% static '/assets/js/plugin/dropzone/dropzone.min.js' %}"></script>

	<!-- Fullcalendar -->
	<script src="{% static '/assets/js/plugin/fullcalendar/fullcalendar.min.js' %}"></script>

	<!-- DateTimePicker -->
	<script src="{% static '/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js' %}"></script>

	<!-- Bootstrap Tagsinput -->
	<script src="{% static '/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>

	<!-- Bootstrap Wizard -->
	<script src="{% static '/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js' %}"></script>

	<!-- jQuery Validation -->
	<script src="{% static '/assets/js/plugin/jquery.validate/jquery.validate.min.js' %}"></script>

	<!-- Summernote -->
	<script src="{% static '/assets/js/plugin/summernote/summernote-bs4.min.js' %}"></script>

	<!-- Select2 -->
	<script src="{% static '/assets/js/plugin/select2/select2.full.min.js' %}"></script>

	<!-- Sweet Alert -->
	<script src="{% static '/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

	<!-- Atlantis JS -->
	<script src="{% static '/assets/js/atlantis2.min.js' %}"></script>


	<!-- Owl Carousel -->
	<script src="{% static '/assets/js/plugin/owl-carousel/owl.carousel.min.js' %}"></script>






{% endblock %}