			<div class="container">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
								<h5 class="text-white op-7 mb-2">User Dashboard</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="page-inner mt--5">

					<div class="row row-card-no-pd">
						<div class="col-md-12">
                            {% include 'home/indexchitplan.html' %}

                    {% include 'home/chit_rules.html' %}
						</div>
					</div>
					<div class="row row-card-no-pd">
						<div class="col-md-12">
                            {% include 'home/indexallchitplan.html' %}
						</div>
					</div>


				</div>
			</div>
