{% extends "home/base.html" %}
{% load static %}
{% block content %}

		<div class="container">
				<div class="page-inner">
					<h4 class="page-title">KYC</h4>
					<div class="row">
						<div class="col-md-12">
							<div class="card card-with-nav">
								<div class="card-header">
									<div class="row row-nav-line">
										<ul class="nav nav-tabs nav-line nav-color-secondary w-100 pl-4" role="tablist">
											<li class="nav-item"> <a class="nav-link"
											href="/profile" role="tab" aria-selected="true">
											    Profile</a> </li>
											<li class="nav-item"> <a class="nav-link active show"
											href="/kyc" role="tab" aria-selected="false">KYC</a> </li>
											<li class="nav-item"> <a class="nav-link"
											href="/change_password" role="tab" aria-selected="false">Change Password</a> </li>
										</ul>
									</div>
								</div>
								<div class="card-body">
                                    {% for i in kyc_obj %}
									<div class="row mt-3">
										<div class="col-md-6">
											<div class="form-group form-group-default">
												<label>UserName</label>
												<input type="text" disabled class="form-control" value=" {{i.user_name}} ">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-group-default">
												<label>Proof Type</label>
												<input type="text" disabled class="form-control"  value=" {{i.proof_choice}} ">
											</div>
										</div>

									</div>
									{% endfor %}

									<!--<div class="text-right mt-3 mb-3">-->
									<!--	<button class="btn btn-success">Save</button>-->
									<!--	<button class="btn btn-danger">Reset</button>-->
									<!--</div>-->
								</div>
							</div>
						</div>
						</div>	<div class="row">
						<div class="col-md-12">
							<div class="card card-profile">
								<div class="card-header">
									<div class="profile-picture">
										<div class="avatar avatar-xl">
											Picture
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="user-profile text-center">
									      {% for i in kyc_obj %}
									    <img src=" {{i.proof_file.url}}" style="max-width: 100%;height: auto;">

	{% endfor %}

									</div>
								</div>

							</div>
						</div>
			        </div>
				</div>
			</div>



{% endblock %}